﻿<!-- ko with: home -->
<link rel="stylesheet" data-theme="generic.light" type="text/css" href="https://cdn3.devexpress.com/jslib/18.2.7/css/dx.light.css" />
<link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/18.2.7/css/dx.common.css" />
<script src="https://cdn3.devexpress.com/jslib/18.2.7/js/dx.all.js"></script>
<script src="~/Scripts/app/data_loader.js"></script>
<script defer src="~/Scripts/magnific-popup-options.js"></script>


<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h2>Svetlo 1</h2>
            <div id="switchLight1"></div>
        </div>
        <div class="col-sm-3">
            <h2>Svetlo 2</h2>
            <div id="switchLight2"></div>
        </div>
        <div class="col-sm-6">
            <h2>Ovládananie brány</h2>
            <div>
                <div id="openGarageBtn" class="col-sm-6"></div>
                <div id="closeGarageBtn" class="col-sm-6"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h2>Ovládananie ventilácie</h2>
            <div>
                <div id="activateVent" class="col-sm-6"></div>
                <div id="deactivateVent" class="col-sm-6"></div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h2>Od dátumu</h2>
            <div id="fromDate"></div>
        </div>
        <div class="col-sm-3">
            <h2>Do dátumu</h2>
            <div id="toDate"></div>
        </div>
        <div class="col-sm-offset-3 col-sm-3">   
            <h2 style="color: white">PUSH DOWN</h2>
            <div id="reloadButton"></div>
        </div>
    </div>

</div>
<div id="tempChart"></div>
<div id="humChart"></div>
<h2>Pohyb zachytený PIR senzorom</h2>
<div id="PIRGrid"></div>

<div class="container" style="margin-top: 25px">
    <div class="row">
        <h1 style="text-align: center" class="col-sm-offset-4 col-sm-4">Posledný zachytený pohyb</h1>
        <div id="makePhoto" class="col-sm-offset-1 col-sm-3"></div>
    </div>
    <div class="row row-bottom-padded-sm" id="galleryPlace">
    </div>
</div>


<script>
    var dataFrom = new Date().setDate(new Date().getDate() - 3);
    var dataTo = new Date();
    var chart;
    var chart2;
    var grid1;

    var init = true;
    //var server = "http://localhost:44444/services/";    //test local server
    var server = "http://smarthome.infotech.sk:8080/Services/";


    $(function () {
        $.ajax({
            type: "GET",
            crossDomain: true,
            headers: { 'AuthorizationDevice': 'XXX' },
            contentType: "application/json; charset=utf-8",
            url: server + "MongoInterface.svc/Images",
            success: function (msg) {
                console.log(msg.GetLastImagesResult);
                //$('#lastPicture').attr('src', `data:image/jpg;base64,${msg.GetLastImagesResult.d}`);
                msg.GetLastImagesResult.forEach(function (item) {
                    $("#galleryPlace").append("<div style='height: 200px; overflow: hidden; margin-bottom: 20px' class='col-md-3 col-sm-4 col-xxs-6'>" +
                        "<a href='Images/" + item.t + ".jpg'  class='image-popup removed'>" +
                        "<img src='Images/" + item.t + ".jpg' alt='Image' class='img-responsive' style='max-height: 100%;'>" +
                        "</a>" +
                        "</div>")
                });
                setPopupsForImages();
            }
        });
        for (var i = 1; i < 10; i++) {

        }
    });

    $(document).ready(function () {
        var fromTempPicker = $("#fromDate").dxDateBox({
            value: dataFrom,
            width: 200,
            height: 50,
            type: "datetime",
            onInitialized: function (e) {
                dataFrom = e.component.option('value');
            },
            onValueChanged: function (e) {
                dataFrom = e.value;
            }
        });

        var toTempPicker = $("#toDate").dxDateBox({
            value: dataTo,
            width: 200,
            height: 50,
            type: "datetime",
            onInitialized: function (e) {
                dataTo = e.component.option('value');
            },
            onValueChanged: function (e) {
                dataTo = e.value;
            }
        });

        var reloadButton = $("#reloadButton").dxButton({
            //width: 200,
            height: 50,
            text: "Načítať znova",
            onClick: function (e) {
                reloadTemp();
            }
        });

        var openGarageBtn = $("#openGarageBtn").dxButton({
            //width: 200,
            height: 50,
            text: "Otvoriť garáž",
            onClick: function (e) {
                sendAction("garage1", true, "opened");
            }
        });

        var closeGarageBtn = $("#closeGarageBtn").dxButton({
            //width: 200,
            height: 50,
            text: "Zatvoriť garáž",
            onClick: function (e) {
                sendAction("garage1", false, "closed");
            }
        });

        var activateVentBtn = $("#activateVent").dxButton({
            //width: 200,
            height: 50,
            text: "Zapnúť ventiláciu",
            onClick: function (e) {
                sendAction("vent1", true, "on");
            }
        });

        var deactivateVentBtn = $("#deactivateVent").dxButton({
            //width: 200,
            height: 50,
            text: "Vypnúť ventiláciu",
            onClick: function (e) {
                sendAction("vent1", false, "off");
            }
        });

        var switch1 = $("#switchLight1").dxSwitch({
            width: 100,
            height: 40,
            onValueChanged: function (e) {
                if (!init)
                    sendAction("light1", e.value, e.value);
            }
        });

        var switch2 = $("#switchLight2").dxSwitch({
            width: 100,
            height: 40,
            onValueChanged: function (e) {
                if (!init)
                    sendAction("light2", e.value, e.value);
            }
        });

        var makePhotoBtn = $("#makePhoto").dxButton({
            //width: 200,
            height: 50,
            text: "Odfotiť domácnosť",
            onClick: function (e) {
                sendAction("pir1", true, "on");
            }
        });



        chart = $("#tempChart").dxChart({
            palette: "Light",
            commonSeriesSettings: {
                argumentField: "t",
                valueField: "v",
                point: {
                    visible: false
                }
            },
            margin: {
                bottom: 20
            },
            argumentAxis: {
                label: {
                    format: function (value) {
                        return new Date(value * 1000).format("dd.mm.yyyy HH:MM");
                    }
                },
                valueMarginsEnabled: false,
                discreteAxisDivisionMode: "crossLabels",
                grid: {
                    visible: true
                }
            },
            valueAxis: [{
                valueType: 'numeric'
            }],
            seriesTemplate: {
                nameField: "uuid"
            },
            legend: {
                verticalAlignment: "bottom",
                horizontalAlignment: "center",
                itemTextPosition: "bottom"
            },
            title: {
                text: "Teplota v domácnosti",
                subtitle: {
                    text: "In °C"
                }
            },
            "export": {
                enabled: true
            },
            tooltip: {
                enabled: true,
                customizeTooltip: function (arg) {
                    return {
                        text: arg.valueText
                    };
                }
            }
        }).dxChart("instance");

        chart2 = $("#humChart").dxChart({
            palette: "Light",
            commonSeriesSettings: {
                argumentField: "t",
                valueField: "v",
                point: {
                    visible: false
                }
            },
            margin: {
                bottom: 20
            },
            argumentAxis: {
                label: {
                    format: function (value) {
                        return new Date(value * 1000).format("dd.mm.yyyy HH:MM");
                    }
                },
                valueMarginsEnabled: false,
                discreteAxisDivisionMode: "crossLabels",
                grid: {
                    visible: true
                }
            },
            valueAxis: [{
                valueType: 'numeric'
            }],
            seriesTemplate: {
                nameField: "uuid"
            },
            legend: {
                verticalAlignment: "bottom",
                horizontalAlignment: "center",
                itemTextPosition: "bottom"
            },
            title: {
                text: "Vlhkosť v domácnosti",
                subtitle: {
                    text: "In %"
                }
            },
            "export": {
                enabled: true
            },
            tooltip: {
                enabled: true,
                customizeTooltip: function (arg) {
                    return {
                        text: arg.valueText
                    };
                }
            }
        }).dxChart("instance");

        grid1 = $("#PIRGrid").dxDataGrid({            
            columns: [
                {
                    dataField: "uuid",
                    caption: "Identifikátor senzora", 
                    aligment: "left"
                },
                {
                    dataField: "t",
                    caption: "Čas zachytenia pohybu",  
                    sortOrder: "desc",
                    format: function (value) {
                        return new Date(value * 1000).format("dd.mm.yyyy HH:MM");
                    },
                    aligment: "left"
                }
            ],
            paging: {
                pageSize: 10
            },
            pager: {
                showPageSizeSelector: true,
                allowedPageSizes: [10, 25, 50, 100]
            },
            rowAlternationEnabled: true,            
            showBorders: true
        }).dxDataGrid("instance");

        function sendAction(componentUUID, status, value) {
            $.ajax({
                type: "POST",
                crossDomain: true,
                headers: { 'AuthorizationDevice': 'XXX' },
                contentType: "application/json; charset=utf-8",
                url: server + "MongoInterface.svc/Device",
                datatype: "json",
                data: JSON.stringify({
                    "s": status,
                    "uuid": componentUUID,
                    "v": value
                }),
                success: function (msg) {
                    console.log(msg);
                },
                error: function (xhr, status, error) {
                    alert("Status: " + status); alert("Error: " + error);
                }
            });
        }

        function reloadTemp() {
            $.ajax({
                type: "POST",
                crossDomain: true,
                headers: { 'AuthorizationDevice': 'XXX' },
                contentType: "application/json; charset=utf-8",
                url: server + "MongoInterface.svc/DateIntervalData",
                datatype: "json",
                data: JSON.stringify({
                    from: Math.floor(dataFrom / 1000),
                    to: Math.floor(dataTo / 1000),
                    type: 1
                }),
                success: function (msg) {
                    console.log(msg.GetDateIntervalDataResult);
                    chart.option('dataSource', msg.GetDateIntervalDataResult);
                }
            });


            $.ajax({
                type: "POST",
                crossDomain: true,
                headers: { 'AuthorizationDevice': 'XXX' },
                contentType: "application/json; charset=utf-8",
                url: server + "MongoInterface.svc/DateIntervalData",
                datatype: "json",
                data: JSON.stringify({
                    from: Math.floor(dataFrom / 1000),
                    to: Math.floor(dataTo / 1000),
                    type: 2
                }),
                success: function (msg) {
                    console.log(msg.GetDateIntervalDataResult);
                    chart2.option('dataSource', msg.GetDateIntervalDataResult);
                }
            });

            $.ajax({
                type: "POST",
                crossDomain: true,
                headers: { 'AuthorizationDevice': 'XXX' },
                contentType: "application/json; charset=utf-8",
                url: server + "MongoInterface.svc/DateIntervalData",
                datatype: "json",
                data: JSON.stringify({
                    from: Math.floor(dataFrom / 1000),
                    to: Math.floor(dataTo / 1000),
                    type: 3
                }),
                success: function (msg) {
                    console.log(msg.GetDateIntervalDataResult);
                    grid1.option('dataSource', msg.GetDateIntervalDataResult);
                }
            });
        }

        function getConfig() {
            $.ajax({
                type: "GET",
                crossDomain: true,
                headers: { 'AuthorizationDevice': 'XXX' },
                contentType: "application/json; charset=utf-8",
                url: server + "MongoInterface.svc/Devices",
                success: function (msg) {
                    msg.forEach(function (x) {
                        if (x.uuid === "light1")
                            $("#switchLight1").dxSwitch("instance").option("value", x.s);
                        else if (x.uuid === "light2")
                            $("#switchLight2").dxSwitch("instance").option("value", x.s);
                    });
                    init = false;
                }
            });



        }

        //init
        getConfig();
        reloadTemp();



    });
</script>



<!-- /ko -->
